<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdsj.design.dal.mapper.TbMgrCustomerMapper">
  <resultMap id="BaseResultMap" type="com.cdsj.design.dal.model.TbMgrCustomer">
    <id column="CUS_NO" jdbcType="BIGINT" property="cusNo" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="PASSWORD" jdbcType="VARCHAR" property="password" />
    <result column="SEX" jdbcType="VARCHAR" property="sex" />
    <result column="TELNO" jdbcType="VARCHAR" property="telno" />
    <result column="QQ" jdbcType="VARCHAR" property="qq" />
    <result column="WECHAT" jdbcType="VARCHAR" property="wechat" />
    <result column="EMAIL" jdbcType="VARCHAR" property="email" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
    <result column="FIELD1" jdbcType="VARCHAR" property="field1" />
    <result column="FIELD2" jdbcType="VARCHAR" property="field2" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    CUS_NO, `NAME`, `PASSWORD`, SEX, TELNO, QQ, WECHAT, EMAIL, REMARK, FIELD1, FIELD2, 
    CREATE_TIME, UPDATE_TIME
  </sql>
  <select id="selectByExample" parameterType="com.cdsj.design.dal.model.TbMgrCustomerExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_mgr_customer
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limit != null">
      <if test="offset != null">
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null">
        limit ${limit}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_mgr_customer
    where CUS_NO = #{cusNo,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from tb_mgr_customer
    where CUS_NO = #{cusNo,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.cdsj.design.dal.model.TbMgrCustomerExample">
    delete from tb_mgr_customer
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" keyColumn="CUS_NO" keyProperty="cusNo" parameterType="com.cdsj.design.dal.model.TbMgrCustomer" useGeneratedKeys="true">
    insert into tb_mgr_customer (`NAME`, `PASSWORD`, SEX, 
      TELNO, QQ, WECHAT, 
      EMAIL, REMARK, FIELD1, 
      FIELD2, CREATE_TIME, UPDATE_TIME
      )
    values (#{name,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{sex,jdbcType=VARCHAR}, 
      #{telno,jdbcType=VARCHAR}, #{qq,jdbcType=VARCHAR}, #{wechat,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{field1,jdbcType=VARCHAR}, 
      #{field2,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" keyColumn="CUS_NO" keyProperty="cusNo" parameterType="com.cdsj.design.dal.model.TbMgrCustomer" useGeneratedKeys="true">
    insert into tb_mgr_customer
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null">
        `NAME`,
      </if>
      <if test="password != null">
        `PASSWORD`,
      </if>
      <if test="sex != null">
        SEX,
      </if>
      <if test="telno != null">
        TELNO,
      </if>
      <if test="qq != null">
        QQ,
      </if>
      <if test="wechat != null">
        WECHAT,
      </if>
      <if test="email != null">
        EMAIL,
      </if>
      <if test="remark != null">
        REMARK,
      </if>
      <if test="field1 != null">
        FIELD1,
      </if>
      <if test="field2 != null">
        FIELD2,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="updateTime != null">
        UPDATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="telno != null">
        #{telno,jdbcType=VARCHAR},
      </if>
      <if test="qq != null">
        #{qq,jdbcType=VARCHAR},
      </if>
      <if test="wechat != null">
        #{wechat,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="field1 != null">
        #{field1,jdbcType=VARCHAR},
      </if>
      <if test="field2 != null">
        #{field2,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.cdsj.design.dal.model.TbMgrCustomerExample" resultType="java.lang.Long">
    select count(*) from tb_mgr_customer
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tb_mgr_customer
    <set>
      <if test="record.cusNo != null">
        CUS_NO = #{record.cusNo,jdbcType=BIGINT},
      </if>
      <if test="record.name != null">
        `NAME` = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.password != null">
        `PASSWORD` = #{record.password,jdbcType=VARCHAR},
      </if>
      <if test="record.sex != null">
        SEX = #{record.sex,jdbcType=VARCHAR},
      </if>
      <if test="record.telno != null">
        TELNO = #{record.telno,jdbcType=VARCHAR},
      </if>
      <if test="record.qq != null">
        QQ = #{record.qq,jdbcType=VARCHAR},
      </if>
      <if test="record.wechat != null">
        WECHAT = #{record.wechat,jdbcType=VARCHAR},
      </if>
      <if test="record.email != null">
        EMAIL = #{record.email,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null">
        REMARK = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.field1 != null">
        FIELD1 = #{record.field1,jdbcType=VARCHAR},
      </if>
      <if test="record.field2 != null">
        FIELD2 = #{record.field2,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null">
        UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tb_mgr_customer
    set CUS_NO = #{record.cusNo,jdbcType=BIGINT},
      `NAME` = #{record.name,jdbcType=VARCHAR},
      `PASSWORD` = #{record.password,jdbcType=VARCHAR},
      SEX = #{record.sex,jdbcType=VARCHAR},
      TELNO = #{record.telno,jdbcType=VARCHAR},
      QQ = #{record.qq,jdbcType=VARCHAR},
      WECHAT = #{record.wechat,jdbcType=VARCHAR},
      EMAIL = #{record.email,jdbcType=VARCHAR},
      REMARK = #{record.remark,jdbcType=VARCHAR},
      FIELD1 = #{record.field1,jdbcType=VARCHAR},
      FIELD2 = #{record.field2,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.cdsj.design.dal.model.TbMgrCustomer">
    update tb_mgr_customer
    <set>
      <if test="name != null">
        `NAME` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        `PASSWORD` = #{password,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        SEX = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="telno != null">
        TELNO = #{telno,jdbcType=VARCHAR},
      </if>
      <if test="qq != null">
        QQ = #{qq,jdbcType=VARCHAR},
      </if>
      <if test="wechat != null">
        WECHAT = #{wechat,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        EMAIL = #{email,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="field1 != null">
        FIELD1 = #{field1,jdbcType=VARCHAR},
      </if>
      <if test="field2 != null">
        FIELD2 = #{field2,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where CUS_NO = #{cusNo,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cdsj.design.dal.model.TbMgrCustomer">
    update tb_mgr_customer
    set `NAME` = #{name,jdbcType=VARCHAR},
      `PASSWORD` = #{password,jdbcType=VARCHAR},
      SEX = #{sex,jdbcType=VARCHAR},
      TELNO = #{telno,jdbcType=VARCHAR},
      QQ = #{qq,jdbcType=VARCHAR},
      WECHAT = #{wechat,jdbcType=VARCHAR},
      EMAIL = #{email,jdbcType=VARCHAR},
      REMARK = #{remark,jdbcType=VARCHAR},
      FIELD1 = #{field1,jdbcType=VARCHAR},
      FIELD2 = #{field2,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP}
    where CUS_NO = #{cusNo,jdbcType=BIGINT}
  </update>
</mapper>